body {
  width:100%;
  font-weight: 300;
  margin: 0 auto;
  font-size: 16px;
  font-family: Montserrat;
}
body.modal-open {
    overflow: hidden!important;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
div {
  box-sizing: border-box;
}

h1 {
  color:#9c171a;
  font-size: 40px!important;
}
/*CUSTOM DROPDOWN*/
.customDropdown {
  position: relative;
  padding: 0 10px;
  display: none;
}
.customDropdown .options {
  position: absolute;
  left: 0;
  text-align: left;
  width: 100%;
  color: white;
}
.options .option {
  background-color: #939191;
  padding: 2px 10px;
  border-bottom: 1px solid #575757;
}
.options .option:hover {
  background-color:#c3c3c3;
  padding: 2px 10px;
  border-bottom: 1px solid #575757;
}
/*OTHERS*/
.contact-us-form {
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}
.contact-us-headline {
  font-size: 18px;
  margin-bottom: 5px;
}
.contact-us-form input {
  display: inline-block;
  width: 200px;
  font-size: 14px;
  padding: 5px;
  margin: 5px 5px 5px 0;
  border: 0;
  color: black;
  font-family: Montserrat;
  box-sizing: content-box;
}
.contact-us-form input::-webkit-input-placeholder {
  font-family: Montserrat;
  font-size: 12px;
}
.contact-us-form textarea {
  display: block;
  width: 415px;
  height: 70px;
  resize: none;
  border: 0;
  font-size: 14px;
  padding: 5px;
  color: black;
  box-sizing:content-box;
}
.contact-us-form button {
  background: white;
  color: black;
  font-size:8px;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
  font-family: Montserrat;
}
.contact-us-form textarea::-webkit-input-placeholder {
  font-family: Montserrat;
  font-size: 12px;
}
.footer {
  padding: 30px 5%;
  background: #aa1a1e;
  font-family: Montserrat;
  color: white;
  font-size: 0;
}
.footer .block {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.footer h2 {
  font-size: 24px;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:visited:hover {
  text-decoration: none;
}
.footer .subBlock {
  width: 33.33%;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 20px;
}
.subBlock a{
  opacity: 0.9;
}
.subBlock a:hover{
  opacity: 1;
}
.subBlock ul {
  padding: 0 10px;
  padding-left: 0;
  list-style-type: none;
  font-size: 14px;
}
.partner-container {
  max-width: 1000px;
  margin: 0 auto;
}
.footer-copy-right {
  font-size: 12px;
  font-family: Montserrat;
  padding: 15px 5%;
  color: white;
  background: #90171a;
}
.subBlock ul li {
  font-size: 12px;
  padding-left: 0;
  opacity: 0.9;
}
.subBlock a {
  cursor: pointer;
}
.subBlock ul li:first-child {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 18px;
}
.thai {
  font-family: kanit;
}
.grey {
  color: #8a8a8a;
}
.fw300 {
  font-weight: 300!important;
}
.fw400 {
  font-weight: 400!important;
}
.fs15 {
  font-size: 15px!important;
}
.fs17 {
  font-size: 17px!important;
}
.uppercase {
  text-transform: uppercase;
}
.board-position {
  font-size: 12px;
  line-height: 12px!important;
  text-transform: uppercase;
  font-weight: 200;
  font-family: Montserrat;
}
.board-thai-name {
  font-size: 13px;
}
.board-english-name {
  font-size: 14px;
  text-transform: uppercase;
}
.board-detail-name {
  line-height: 15px;
  margin-top: 15px;
}
.board-person-image {
  width: 30%;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  height: 450px;
  display: inline-block;
  vertical-align: middle;
}
.modal-hide-container {
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right :0;
  z-index: 20;
  display: none;
}
.x-modal {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}
.x-modal img {
  width: 25px!important;
  max-width: none!important;
}
.modal-hide {
  transform: translateZ(0);
  position: fixed;
  z-index: 30;
  background-color: #f7f7f7;
  left: 0;
  right: 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: left;
  width: 90%;
  max-width: 1000px;
  box-shadow: 1px 1px 10px 1px rgb(235, 235, 235);
}
.modal-hide--logo {
  padding-top: 2%;
  padding-bottom: 2%;
}
.modal-hide--logo img{
  padding-left: 5%;
}

.modal-hide img {
  max-width: 30%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}
.modal-hide .modal-content {
  padding: 2% 6% 2% 8%;
  display: inline-block;
  vertical-align: middle;
  max-width: 69%;
  width: 100%;
}

.side-navigation {
  position: fixed;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  z-index: 200;
  text-align: right;
}
.dot-nav-name {
  opacity: 0;
  font-size: 8px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  color: #888888;
  line-height: 8px;
  transition: 0.1s
}
.dot-nav-name.acitve {
  opacity: 1;
  transition: 0.1s
}
.active {
  opacity: 1;
}
.side-navigation .dot-nav {
  width: 12px;
  height: 12px;
  margin: 10px 0;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #c3c3c3;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.side-navigation .dot-nav.active {
  background-color: #c3c3c3;
}
.row {
  display: block;
}
.logo-box {
  width: 250px;
  height: 150px;
  margin: 30px 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.logo-box img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left:0;
  right:0;
  margin: 0 auto;

}
.logo-box__content {
  position: relative;
  height: 100%;
}

.logo-box .logo-des {
  text-align: center;
  color: #6b6868;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-bar {
  position: fixed;
  top: 0;
  padding-top: 10px;
  display: flex;
  height: 80px;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  /*box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.23);*/
  width: 100%;
  z-index: 20;
  padding: 0 50px;
}

.nav-bar__logo {
  display: inline-flex;
}
.nav-bar__logo img {
  height: 50px;
}
.nav-bar__navigation-container {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
}

.nav-bar__navigation {
  padding: 0 10px;
  font-size: 12px;
  color: #aaa8a8;
  cursor: pointer;
}
.nav-bar__navigation.active{
  color: #888888;
}

.nav-bar__navigation.ticket {
  background-color: #be9b42;
  color: white;
  padding: 2px 10px;
  margin-left: 10px;
}

#hamberger-menu {
  margin-left: auto;
  width: 40px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 60;
  right: 0;
  display: none;
}

#hamberger-menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: black;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#hamberger-menu span:nth-child(1) {
  top: 0px;
}

#hamberger-menu span:nth-child(2),#hamberger-menu span:nth-child(3) {
  top: 10px;
}

#hamberger-menu span:nth-child(4) {
  top: 20px;
}

#hamberger-menu.open span:nth-child(1) {
  top: 20px;
  width: 0%;
  left: 50%;
}

#hamberger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamberger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamberger-menu.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

/*========================footer==========================*/

.section {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
  min-height: calc(100vh - 80px);
  background-color: white;
  overflow: hidden;
}
.section h1 {
  font-size: 40px;
  font-family: Montserrat!important;
}
.section p {
  font-size: 14px!important;
}
.slide-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 50px;
  cursor: pointer;
}
.slide-arrows.left{
  left: 12%
}
.slide-arrows.right{
  right: 12%
}

.slider, .slider-content {
  left: 0;
  right: 0;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.slider-content {
  position: absolute;
  transition: 1s ease-in-out;
  opacity: 0;

}

.slider-content.active {
  z-index: 2;
  opacity: 1;
  transform: none;
}

.sections {
  margin-top: 80px;
}
#business-page {
  background-color: white;
}
#business-page img {
  max-width: 400px;
  width: 100%;
  text-align: center;
  display: block;
  margin: 60px auto 40px auto;
}
#business-page video {
  max-width: 700px;
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
#business-page p{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #363636;
  font-family: kanit;
  max-width: 750px;
  font-size: 18px;
  text-align: left;
}
#vision-page {
  background-size: cover;
  background-position: bottom;
  z-index: 4;
}
#vision-page h1 {
  color: white;
}
#vision-page p{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-family: kanit;
  max-width: 542px;
  width: 100%;
  font-size: 18px;
  text-align: justify;
}
#corporate-page {
  position: relative;
}
#corporate-page h1{
  position: relative;
  z-index: 2;
}
#corporate-page .logo-fade-1 {
  margin-top: -170px;
  transition: 0.5s;
}
#corporate-page .logo-fade-2 {
  margin-top: -100px!important;
}
#corporate-page .logo-fade-2,.logo-fade-1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
.flaticon-left-quotes-sign:before {
  color:#9c171a!important;
}
.flaticon-right-quotes-sign:before {
  color:#9c171a!important;
}

.video-container {
  max-width:1000px;
  overflow:hidden;
  margin:0 auto;
}
.corporate-quote {
  opacity: 0;
  transition: 0.5s opacity ease-in-out;
  font-family: kanit;
  margin: 20px 0 20px 0;
}
.letter-detail {
  display: block;
  color: black;
  font-family: kanit;
  font-weight: 400;
  text-align: center;
}
.letter-detail--thai {
  font-size: 10px;
  display: block;
  letter-spacing: 0;
  color: #505050;
}
.letter-detail--eng {
  font-size: 14px;
  display: block;
  letter-spacing: 1px;
  color: #505050;
}
.corporate-quote .quotes {
  vertical-align:middle;
  text-align: left;
  font-style: italic;
  font-weight: 400;
  color: #505050;
  display: inline-block;
}
.super-bold {
  font-family: kanit;
}
.red {
  color:#9c171a;
}
.black {
  color: black!important;
}
.corporate-quote .logo {
  vertical-align:middle;
  text-align: center;
  display: inline-block;
}
.corporate-quote .logo img{
  width: 80%;
}
.partner-detail {
  text-align: left;
  font-family: kanit;
  font-size: 16px;
  font-weight: 300;
}
.partner-detail .sub-title {
  font-style: italic;
  font-weight: 600;
  font-size: 14px!important;
  color: #575757;
}
.partner-detail p{
  color: #8c8c8c;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}
.partner-detail h2{
  margin: 10px 0;
  color: #575757;
  font-size: 28px;
  font-weight: 600;
}
.board-detail {
  text-align: left;
  font-family: kanit;
  font-size: 12px;
  font-weight: 300;
}
.Montserrat {
  font-family: Montserrat;
}
.board-detail p{
  color: black;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
.board-detail .position {
  font-size: 10px;
  font-family: Montserrat;
}
.board-detail img {
  margin: 0 auto;
  display: block;
}
.board-detail h2{
  color: #777777;
}
.bold {
  font-weight: 400;
  font-weight: bold;
}
.readmore {
  font-family: Montserrat;
  font-size: 13px;
  text-decoration: underline;
  font-weight: bold;
  color: rgb(161, 45, 45);
  cursor: pointer;
}
#partner-page {
  background-color: white;

}
#partner-page .caption h1{
  color:rgb(200, 35, 60) !important;
  margin-bottom: 0 !important;
  padding: 0;
}
#faq-page {
  padding-bottom: 40px;
}
#charm-page {
  background-color: white;
}
#charm-page .caption h1{
  color:rgb(200, 35, 60) !important;
}
#intro-page {
  background-image: url('../images/bg.jpg');
}
#board-page {
  background-color: white;
  overflow: hidden;
}
#board-page .caption h1{
  color:rgb(200, 35, 60) !important;
}
.board-card {
  padding: 0;
}
.board-card img {
  width: 100%;
}
.board-card a {
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
}
.main.active {
  opacity: 1;

}
.board-container {
  padding: 50px 20% 0 20%;
}
.charm .letter {
  font-size: 80px;
  color:#9c171a;
  padding: 0 5px;
  display: inline-block;
}
.collapse--faq {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 18px;
}
.collapse--faq .collapse-header {
  background-color: #c9c6c6;
  color: black;
  padding: 12px 50px 12px 50px;
  vertical-align: middle;
  cursor: pointer;
  font-family: kanit;
}
.collapse--faq.active .collapse-header {
  background-color: #a61a1f;
  color: white;
}
.collapse--faq .collapse-content {
  background-color: #e0e0e0;
  padding: 10px 5%;
  color: #000000;
  font-family: kanit;
  font-size: 14px;
}
.collapse--faq .collapse-content ul li{
  list-style: decimal inside none;
  padding: 2px 0;
}
.collapse--faq.active .collapse-content {
  display: block;
}
.collapse-container {
  margin-top: 30px;
  text-align: center;
}
.apply-now {
  background-color: #a61a1f;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px 70px;
  cursor: pointer;
  margin: 30px auto;
}
.charm {
  margin-top: 20px;
  font-family: Montserrat;
}
.hidden-readmore {
  display: none;
}
.caption {
  padding: 30px 20% 0 20%;
}

.caption h1 {
  color: white;
  margin: 0 0 20px 0;
  font-size: 40px;
  text-align: center;
}
.caption span {
  color: white;
  font-family: Kanit;
  text-align: center;
}

.footer__navigation.active {
  background-color: rgb(200, 35, 60);
}

.circle-navigation-container {
  position: absolute;
  z-index: 5;
}

.circle-navigation {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #777777;
  margin: 7px 0;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.circle-navigation.active {
  background-color: white;
}
.nav-hidden-name {
  display: none;
}

.facebook-icon {
  border-radius: 50%;
  border: 1px solid #939191;
  width: 27px;
  height: 27px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.web-icon img {
  padding: 0!important;
  margin: -3px 0 0 0!important;
  width: 100%!important;
  max-width: 25px!important;
}
.web-icon {
  display: inline-block;
}
.facebook-icon img{
  cursor: pointer;
  max-width: 14px;
  margin-left: -1px;
  margin-top: -4px;
  opacity: 0.5;
}
/*=================PLUS MINUS */

.xbutton {
    vertical-align: middle;
    position: relative;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
}
.xbutton::before {
  content: "";
  position: absolute;
  background-color: black;
  /*transition: transform 0.25s ease-out;*/
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1.5px;
}
.xbutton::after {
  content: "";
  position: absolute;
  background-color: black;
  /*transition: transform 0.25s ease-out;*/
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1.5px;
}
.collapse--faq.active .xbutton::before {
  transform: rotate(90deg);
  background-color: white;
}
.collapse--faq.active .xbutton::after {
  transform: rotate(180deg);
  background-color: white;
}
@media only screen and (max-width: 768px) {
  .footer .block{
    width: 100%;
  }
  .board-person-image {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 165px;
  }
  .partner-detail .modal-content {
    padding-top: 5%;
  }
  .section {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    overflow:visible;
  }
  .modal-hide-container {
    position: fixed;
    height: 100vh;
    z-index: 999;
    top: 0;
    bottom: 0;
  }
  .logo-box {
    width: 25%;
    vertical-align: top;
  }
  .logo-box__content {
    height: 150px;
  }
  .logo-box img {
    width: 120px!important;
  }
  .side-navigation {
    display: none;
  }
  .board-container {
    padding: 0 10%;
  }
  .modal-content p br{
    display: none
  }
  .corporate-quote {
    opacity: 1
  }
  .logo-fade-1 {
    display: none;
  }
  .logo-fade-2 {
    display: none;
  }
  .video-container {
    display: none;
  }
  .board-detail-name {
    margin-bottom: 20px;
    text-align: center;
  }
  .slide-arrows.left{
  left: -15px
  }
  .slide-arrows.right{
  right: -15px;
  }
  .modal-hide > img {
    display: block;
    padding-top: 50px!important;
    padding-left: 0!important;
  }
  .modal-content {
    padding-bottom: 20px!important;
    max-width: 100%!important;
  }
  .modal-hide {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
  }
  .modal-content {
    max-height: 40vh;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 668px) {
  .nav-bar {
    position: fixed;
    padding: 0 20px;
  }
  .logo-box {
    width: 48%;
  }
  .nav-bar__navigation.dropdownSelect {
    position: fixed;
    top: 30px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    z-index: 60;
    left: 20px;
  }
  .dropdownMobile {
    display: block;
  }
  .partner-container {
    max-width: 600px;
  }
  .board-card {
    padding: 0 15px;
  }
  #hamberger-menu {
    display: block;
  }
  .board-container {
    padding: 0;
  }
  .seachImage {
    width: 30px!important;
  }
  .nav-bar__logo {
    position: relative;
    z-index: 20;
  }
  .corporate-quote .logo {
    text-align: center;
  }

  .nav-bar__navigation-container {
    position: absolute;
    display: block;
    background-color: white;
    left:0;
    width: 100%;
    transform: translate3d(-100vw,0,0);
    height: 100vh;
    z-index: 50;
    top: 0;
    padding-top: 40%;
    transition: 0.3s ease-in-out;
  }
  .nav-bar__navigation-container.active {
    transform: translate3d(0,0,0);
    transition: 0.3s ease-in-out;
  }

  .nav-bar__navigation {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 25px 0;
    padding: 0;
  }
  .nav-bar__navigation.ticket {
    margin-left: 0;
    padding: 0
  }
  .partner-detail.modal-content {
    padding-top: 20px!important;
  }
  .footer {
    display: none;
  }

}
@media only screen and (max-width: 450px) {
  #vision-page {
    background-position: top;
    background-size: 400%;
  }
  .board-card a {
    background-position: top!important;
  }
  .board-card img {
    width: 80%;
  }
  .board-detail .modal-content {
    height: 50vh;
    overflow-y: scroll;
  }
  .footer-copy-right {
    font-size: 7px;
  }
  .footer-copy-right img {
    width: 7px;
  }
  .quotes {
    display: none!important;
  }
  .charm .letter {
    display: block;
  }
}